@using BudgeterShared
@using Budgeter.Client.Helpers
@inject HttpClient Http

@page "/Income/ExpensesOverview"

<h2>Expenses Overview Page</h2>

<h2>@*Income: @expenseDetails.Income*@</h2>

<table class="table">
    <thead>
        <tr>
            <td>Savings</td>
            <td>Needs</td>
            <td>Wants</td>
            <td>Available</td>
        </tr>
    </thead>

    @* Just a single row table for now to make linking easier.
        Ideally it would use somthing like a pie chart*@

    @* TODO link each item to the appropriate expense page *@
    <tbody>
        <tr>
            <td>
                <NavLink class="nav-link" href="Income/ExpensesOverview/Expenses">
                    <span class="oi" aria-hidden="true"></span>
                    @expensesOverview.Savings
                </NavLink>
            </td>

            <td>
                @expensesOverview.Needs
            </td>

            <td>
                @expensesOverview.Wants
            </td>

            <td>
                @(expensesOverview.Income - (expensesOverview.Savings + expensesOverview.TotalNeedsAmount + expensesOverview.Wants))
            </td>
        </tr>
    </tbody>
</table>

@code {
    ExpensesOverviewDTO expensesOverview = new ExpensesOverviewDTO();

    protected override async Task OnInitializedAsync()
    {
        expensesOverview = await Http.GetFromJsonAsync<ExpensesOverviewDTO>(ControllerRouting.ExpensesOverview);
    }
}
