@inject HttpClient Http
@inject NavigationManager NavigationManager

@page "/"
@page "/{type}"

<h2>Transactions Page</h2>

<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Amount</td>
            <td>Creation Date</td>
            <td>Revision Date</td>
        </tr>
    </thead>

    <tbody>
        @foreach (TransactionDTO transaction in transactions)
        {
            <tr>
                <td>
                    @transaction.PurchaseDate.ToShortDateString()
                </td>

                <td>
                    @transaction.Description
                </td>

                <td>
                    @transaction.Amount
                </td>

                <td>
                    @transaction.CreatedDate
                </td>

                <td>
                    @transaction.RevisionDate
                </td>

                <td>
                    <button class="btn btn-primary" @onclick="(() => EditTransaction(transaction.Id))">Edit</button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => DeleteTransaction(transaction.Id))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="AddTransaction">Add</button>

@code {
    [Parameter]
    public string type { get; set; }

    IEnumerable<TransactionDTO> transactions = Enumerable.Empty<TransactionDTO>();

    protected override async Task OnParametersSetAsync()
    {
        if (String.IsNullOrEmpty(type))
        {
            type = TransactionType.Income.ToString();
        }

        transactions = await GetTransaction();
    }

    private async Task<IEnumerable<TransactionDTO>> GetTransaction()
    {
        return await Http.GetFromJsonAsync<IEnumerable<TransactionDTO>>(ControllerRouting.Transaction + "/?type=" + type);
    }

    private void AddTransaction(MouseEventArgs e)
    {
        NavigationManager.NavigateTo($"AddTransaction/{type}");
    }

    private void EditTransaction(int id)
    {
        NavigationManager.NavigateTo($"EditTransaction/{type}/{id}");
    }

    private async Task DeleteTransaction(int id)
    {
        await Http.DeleteAsync(ControllerRouting.Transaction + "/?id=" + id);
        transactions = await GetTransaction();
    }

}
